*.la
*.lo
*.o
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/doxygen-doc/
/libtool
/m4/
/src/printemf
/tests/check?
/tests/check?.emf
/tests/docheck?.log
/tests/docheck?.trs
/tests/example?
/tests/test-suite.log
Makefile
Makefile.in
