*.la
*.lo
*.o
.deps/
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/doxygen-doc/
/libtool
/m4/
/src/printemf
/tests/*.log
/tests/*.trs
/tests/check1
/tests/check1.emf
/tests/check2
/tests/check2.emf
/tests/check3
/tests/check3.emf
/tests/check4
/tests/example1
/tests/example2
Makefile
Makefile.in
